<div class="full-width valign-wrapper">
	<br>
	<div class="ui container">
		<div class="two column stackable ui grid">
			<div class="left aligned column animated bounceInDown">
				<div class="ui header" id="title">Angular Forms</div>
				<p id="subtitle" class="white-text">Build amazing forms with Angular <span id="plus">+</span> Semantic UI. This example shows forms with template aproximation <span class="italic">.html</span>, data aproximation <span class="italic">.ts</span> and a not validated form. </p>
				<img src="../../assets/angular.svg" width="25%">
			</div>
			<div class="center aligned column animated bounceInUp">
				<img src="../../assets/header.png" width="80%">
			</div>
		</div>
	</div>
</div>
<!--  -->