<div class="full-width">
	<br>
<!-- 	<div class="row">
		<h1 class="ui header white-text centered">
			Angular
			<div class="sub header white-text">Template aproximation</div>
		</h1>
		<p class="white-text">We are going to show how the template aproximation works on a form. Using template.component.html to make validations to inputs fields.</p>
	</div> -->
	<div class="two column stackable ui grid">
		<div class="column ">
			<div class="ui container">
				<h1>Forms</h1>
			</div>
		</div>
		<div class="column center">

			<img src="../../assets/header.png" width="70%">
		</div>

	</div>
</div>
