.full-width {
	height: 100%;
	min-height: 91vh;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background: #134e5e; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #134e5e, #71b280);
	background: linear-gradient(to right, #134e5e, #71b280);
}

.white-text{
	color: white !important;
}

#title{
	font-size: 74px;
	color: white;
}

p{
	font-size: 25px;
	font-weight: 200;
}


.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.italic{
	font-style: italic;
	color:#eeeeee;
}

#plus{
	color:#b2ebf2;
}

