<div class="ui container padding-title">
	<h1 class="ui header centered align">
		Validated form
		<div class="sub header">Data approximation</div>
	</h1>
	<br>
	<p>The third example shows an alidated form; You must write the correct text in the fields, and the form must be sent. If the text is not correct, the form can not be sent.</p>

	<div class="ui medium header">Simple form</div>
	<p>Simple inputs form</p>
	<br>
	<form  class="ui form" (ngSubmit)="save()" [formGroup]="formExample">

		<div class="three fields">
			<div class="required field">
				<div [ngClass]="{'field error': (formExample.controls['name'].touched && !formExample.controls['name'].valid)}">
					<label class="bold">Name <span class="req">*</span></label>
					<input type="text" name="name" placeholder="Name" required formControlName="name">
				</div>
				<div class="ui negative message" *ngIf="(!formExample.controls['name'].valid && formExample.controls['name'].touched)">
					<div class="header">
						Error in name field!
					</div>
					<ul>
						<li *ngIf="formExample.controls['name'].errors?.required">This field is required</li>
						<li *ngIf="formExample.controls['name'].errors?.minlength"> Min length {{formExample.controls['name'].errors?.minlength.requiredLength}}</li>
						<li *ngIf="formExample.controls['name'].errors?.pattern">You have to write a valid name, not numbers and just english characters.</li>
					</ul>
				</div>
			</div>

			<div class="required field">
				<label>Country</label>
				<select name="country" formControlName="country">
					<option value="">Select your country</option>
					<option *ngFor="let x of countries" value="x.id" >{{x.name}}</option>
				</select>
			</div>

			<div class="required field">
				<label>Username</label>
				<input type="text" name="username" placeholder="Username" formControlName="username">
				<div class="ui negative message" *ngIf="(!formExample.controls['username'].valid && formExample.controls['username'].touched)">
					<div class="header">
						Error in username field!
					</div>
					<ul>
						<li *ngIf="formExample.controls['username'].errors?.required">This field is required</li>
						<li *ngIf="formExample.controls['username'].errors?.minlength"> Min length {{formExample.controls['username'].errors?.minlength.requiredLength}}</li>
					</ul>
				</div>
			</div>

			<div class="required field">
				<label>E-mail</label>
				<input type="text" name="email"  placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email">
				<div class="ui negative message" *ngIf="(!formExample.controls['email'].valid && formExample.controls['email'].touched)">
					<div class="header">
						Error in email field!
					</div>
					<ul>
						<li *ngIf="formExample.controls['email'].errors?.required">Write a email.</li>
						<li *ngIf="formExample.controls['email'].errors?.pattern">You have to write a valid email.</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="ui center aligned three column grid">
			<div class="field padding-check">
				<div class="ui checkbox">
					<input type="checkbox" tabindex="0" class="hidden" (change)="onCheckboxChange($event)">
					<label>I agree to the Terms and Conditions</label>
				</div>
				<div class="ui negative message" *ngIf="errorMessage">
					<div class="header">
						You have to check te box!.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<button class="ui button green" type="submit" [disabled]="!formExample.valid">Submit</button>
				</div>
			</div>
		</div>
	</form>

	<div class="ui success message" *ngIf="successMessage">
		<i class="close icon" (click)="close()"></i>
		<div class="header">
			Your request was sent.
		</div>
		<p>The request could be sent until all the fields are correct.</p>
	</div>
	<br>
</div>

<div class="ui container padding-title">
	<div class="ui medium header">Nested objects</div>
	<p>Nested and complex object in a form</p>
	<br>

	<form class="ui form" (ngSubmit)="saveNestedForm()" [formGroup]="formExampleNestedObj">

		<div class="ui stackable grid">
			<div class="two column row">
				<div class="column">
					<!-- The formGroupName must group the inputs -->
					<div formGroupName ="fullname" >
						<label class="bold">Name <span class="req">*</span></label>
						<div class="two fields">

							<!-- Input firstname -->
							<div class="field">
								<input type="text" formControlName="firstname" placeholder="First Name">
							</div>
							

							<!-- Input lastname -->
							<div class="field">
								<input type="text" formControlName="lastname" placeholder="Last Name">
							</div>
		
						</div>
						<!-- Error message for Firstname -->
							<div class="ui negative message" *ngIf="(!formExampleNestedObj.controls.fullname.controls['firstname'].valid && formExampleNestedObj.controls.fullname.controls['firstname'].touched)">
								<div class="header">
									Error in Firstname field!
								</div>
								<ul>
									<li *ngIf="formExampleNestedObj.controls.fullname.controls['firstname'].errors?.required">This field firstname is required</li>
									<li *ngIf="formExampleNestedObj.controls.fullname.controls['firstname'].errors?.pattern">You have to write a valid name, not numbers and just english characters.</li>
								</ul>
							</div>

							<!-- Error message for Lastname -->
							<div class="ui negative message" *ngIf="(!formExampleNestedObj.controls.fullname.controls['lastname'].valid && formExampleNestedObj.controls.fullname.controls['lastname'].touched)">
								<div class="header">
									Error in Lastname field!
								</div>
								<ul>
									<li *ngIf="formExampleNestedObj.controls.fullname.controls['lastname'].errors?.required">This field lastname is required</li>
									<li *ngIf="formExampleNestedObj.controls.fullname.controls['lastname'].errors?.pattern">You have to write a valid name, not numbers and just english characters.</li>
								</ul>
							</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label>Skills</label>
						<div class="ui action input" formArrayName="skills">
							<input type="text" placeholder="Add your skill..." [(ngModel)] ="skill" [ngModelOptions]="{standalone: true}">
							<div class="ui green button" (click)="addSkill()" >Add</div> 
						</div> 
						<div class="ui negative message" *ngIf="errorMessageSkill">
							<i class="close icon" (click)="closeSkillMessage()"></i>
							<div class="header">
								Error in skills field
							</div>
							<ul>
								<li>You have to type something to add a skill</li>
							</ul>
						</div>    
					</div>
				</div>
			</div>
		</div>

		
		<div class="ui grid">
			<div class="right floated right aligned sixteen wide column">
				<div formArrayName="skills" class="right aligned grid">
					<a class="ui label animated zoomIn" 
					*ngFor="let x of formExampleNestedObj.controls['skills'].value" id="{{x}}">
					{{x}}
					<i class="delete icon" (click)="removeSkill(x)"></i>
					</a>
				</div>
				<br>
			</div>
		</div>

		<div class="ui stackable grid">
			<div class="three column row">
				<div class="column">
					<div class="required field">
						<label>Email</label>
						<input type="text" formControlName="email" placeholder="E-mail">
					</div>
					<!-- Error message for email -->
					<div class="ui negative message" *ngIf="(!formExampleNestedObj.controls.email.valid && formExampleNestedObj.controls.email.touched)">
						<div class="header">
							Error in email field!
						</div>
						<ul>
							<li *ngIf="formExampleNestedObj.controls.email.errors?.required">The email field is required</li>
							<li *ngIf="formExampleNestedObj.controls.email.errors?.pattern">You have to write a valid email.</li>
							<li *ngIf="formExampleNestedObj.controls.email.errors?.exists">This email address is already used.</li>
						</ul>
					</div>
				</div>
				<div class="column">
					<div class="required field">
						<label>Password</label>
						<input type="password" formControlName="password1" placeholder="E-mail">
					</div>
					<!-- Error message for password 1 -->
					<div class="ui negative message" *ngIf="(!formExampleNestedObj.controls.password1.valid && formExampleNestedObj.controls.password1.touched)">
						<div class="header">
							Error in password field!
						</div>
						<ul>
							<li *ngIf="formExampleNestedObj.controls.password1.errors?.required">The password field is required</li>
						</ul>
					</div>
				</div>
				<div class="column">
					<div class="required field">
						<label>Confirm password</label>
						<input type="password" formControlName="password2" placeholder="E-mail">
					</div>
					<!-- Error message for password 2 -->
					<div class="ui negative message" *ngIf="(!formExampleNestedObj.controls.password2.valid && formExampleNestedObj.controls.password2.touched)">
						<div class="header">
							Error in password field!
						</div>
						<ul>
							<li *ngIf="formExampleNestedObj.controls.password2.errors?.required">The confirm password field is required</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="ui center aligned three column grid">
			<div class="row">
				<div class="column">
					<button class="ui button green" type="submit" >Submit</button>
					<!-- [disabled]="!formExampleNestedObj.valid" -->
				</div>
			</div>
		</div>
		{{formExampleNestedObj.valid}}
		{{formExampleNestedObj.status}}
	</form>
	<div class="ui success message" *ngIf="successMessageNestedForm">
		<i class="close icon" (click)="close()"></i>
		<div class="header">
			Your request was sent.
		</div>
		<p>The request could be sent until all the fields are correct.</p>
	</div>
</div>	
