.padding-check{
	padding-top: 50px;
	padding-bottom: 20px;
}

.padding-title{
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding-form{
	padding-top: 50px;
	padding-bottom: 100px;
}

#code{
	background-color: #eee;
}

pre{
	font-family: Consolas;
	margin-bottom: 10px;
	overflow: auto;
	width: auto;
	padding: 5px;
	background-color: #eee;
	width: 650px!ie7;
	padding-bottom: 20px!ie7;
	max-height: 700px;
}
blockquote {
	border-left: 10px solid #003C1E;
}

#link {
	color: #4183C4;
	cursor: pointer;
}
