<div class="ui container padding-title">
	<h1 class="ui header centered align">
		Validated form
		<div class="sub header">Data aproximation</div>
	</h1>
	<br>
	<p>The third example shows an alidated form; You must write the correct text in the fields, and the form must be sent. If the text is not correct, the form can not be sent.</p>

	<div class="ui medium header">Simple form</div>
	<p>Simple inputs form</p>
	<br>
	<form  class="ui form" (ngSubmit)="save()" [formGroup]="formExample">

		<div class="three fields">
			<div class="field">
				<div [ngClass]="{'field error': (formExample.controls['name'].touched && !formExample.controls['name'].valid)}">
					<label class="bold">Name</label>
					<input type="text" name="name" placeholder="Name" required formControlName="name">
				</div>
				<div class="ui negative message" *ngIf="(!formExample.controls['name'].valid && formExample.controls['name'].touched)">
					<div class="header">
						Error in name field!
					</div>
					<ul>
						<li *ngIf="formExample.controls['name'].errors?.required">This field is required</li>
						<li *ngIf="formExample.controls['name'].errors?.minlength"> Min length {{formExample.controls['name'].errors?.minlength.requiredLength}}</li>
						<li *ngIf="formExample.controls['name'].errors?.pattern">You have to write a valid name, not numbers and just english characters.</li>
					</ul>
				</div>
			</div>

			<div class="field">
				<label>Country</label>
				<select name="country" formControlName="country">
					<option value="">Select your country</option>
					<option *ngFor="let x of countries" value="x.id" >{{x.name}}</option>
				</select>
			</div>

			<div class="field">
				<label>Username</label>
				<input type="text" name="username" placeholder="Username" formControlName="username">
				<div class="ui negative message" *ngIf="(!formExample.controls['username'].valid && formExample.controls['username'].touched)">
					<div class="header">
						Error in username field!
					</div>
					<ul>
						<li *ngIf="formExample.controls['username'].errors?.required">This field is required</li>
						<li *ngIf="formExample.controls['username'].errors?.minlength"> Min length {{formExample.controls['username'].errors?.minlength.requiredLength}}</li>
					</ul>
				</div>
			</div>

			<div class="field">
				<label>E-mail</label>
				<input type="text" name="email"  placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email">
				<div class="ui negative message" *ngIf="(!formExample.controls['email'].valid && formExample.controls['email'].touched)">
					<div class="header">
						Error in email field!
					</div>
					<ul>
						<li *ngIf="formExample.controls['email'].errors?.required">Write a email.</li>
						<li *ngIf="formExample.controls['email'].errors?.pattern">You have to write a valid email.</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="ui center aligned three column grid">
			<div class="field padding-check">
				<div class="ui checkbox">
					<input type="checkbox" tabindex="0" class="hidden" id="1" (change)="onCheckboxChange($event)">
					<label>I agree to the Terms and Conditions</label>
				</div>
				<div class="ui negative message" *ngIf="errorMessage">
					<div class="header">
						You have to check te box!.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<button class="ui button green" type="submit" [disabled]="!formExample.valid">Submit</button>
				</div>
			</div>
		</div>
	</form>

	<div class="ui success message" *ngIf="successMessage">
		<i class="close icon" (click)="close()"></i>
		<div class="header">
			Your request was sent.
		</div>
		<p>The request could be sent until all the fields are correct.</p>
	</div>
	<br>
</div>

<div class="ui container padding-title">
	<div class="ui medium header">Nested objects</div>
	<p>Nested object in a form</p>
	<br>

	<form class="ui form" (ngSubmit)="saveNestedForm()" [formGroup]="formExampleNestedObj">
		<div class="two fields" >
			<div class="field">
				<!-- The formGroupName must group the inputs -->
				<div formGroupName ="fullname">
					<label class="bold">Name</label>
					<div class="two fields">

						<!-- Input firstname -->
						<div class="field">
							<input type="text" formControlName="firstname" placeholder="First Name">
						</div>
						<!-- Error message for Firstname -->
						<div class="ui negative message" *ngIf="(!formExampleNestedObj.controls.fullname.controls['firstname'].valid && formExampleNestedObj.controls.fullname.controls['firstname'].touched)">
							<div class="header">
								Error in name field!
							</div>
							<ul>
								<li *ngIf="formExampleNestedObj.controls.fullname.controls['firstname'].errors?.required">This field. firstname is required</li>
								<li *ngIf="formExampleNestedObj.controls.fullname.controls['firstname'].errors?.pattern">You have to write a valid name, not numbers and just english characters.</li>
							</ul>
						</div>
						
						<!-- Input lastname -->
						<div class="field">
							<input type="text" formControlName="lastname" placeholder="Last Name">
						</div>
						<!-- Error message for Lastname -->
						<div class="ui negative message" *ngIf="(!formExampleNestedObj.controls.fullname.controls['lastname'].valid && formExampleNestedObj.controls.fullname.controls['lastname'].touched)">
							<div class="header">
								Error in name field!
							</div>
							<ul>
								<li *ngIf="formExampleNestedObj.controls.fullname.controls['lastname'].errors?.required">This field lastname is required</li>
								<li *ngIf="formExampleNestedObj.controls.fullname.controls['lastname'].errors?.pattern">You have to write a valid name, not numbers and just english characters.</li>
							</ul>
						</div>

					</div>
				</div>


				
			</div> 
			<div class="field">
				<label>Email</label>
				<input type="text" formControlName="email" placeholder="E-mail">
			</div>
			<!-- Error message for email -->
			<div class="ui negative message" *ngIf="(!formExampleNestedObj.controls.email.valid && formExampleNestedObj.controls.email.touched)">
				<div class="header">
					Error in email field!
				</div>
				<ul>
					<li *ngIf="formExampleNestedObj.controls.email.errors?.required">The email field is required</li>
					<li *ngIf="formExampleNestedObj.controls.email.errors?.pattern">You have to write a valid email.</li>
				</ul>
			</div>
		</div>
		<div class="ui center aligned three column grid">
			<div class="row">
				<div class="column">
					<button class="ui button green" type="submit" [disabled]="!formExampleNestedObj.valid">Submit</button>
				</div>
			</div>
		</div>
	</form>
	<div class="ui success message" *ngIf="successMessageNestedForm">
		<i class="close icon" (click)="close()"></i>
		<div class="header">
			Your request was sent.
		</div>
		<p>The request could be sent until all the fields are correct.</p>
	</div>
</div>	
