<div class="ui container padding">
	<h2 class="ui header centered align">Data aproximation</h2>
	<p>The third example shows an alidated form; yYou must write the correct text in the fields, and the form must be sent. If the text is not correct, the form can not be sent.</p>

	<br>

	<form  class="ui form" (ngSubmit)="save()" [formGroup]="formExample">

		<div class="three fields">
			<div class="field">
				<div [ngClass]="{'field error': (formExample.controls['name'].touched && !formExample.controls['name'].valid)}">
					<label>Name</label>
					<input type="text" name="name" placeholder="Name" required formControlName="name">
				</div>
				<div class="ui negative message" *ngIf="(!formExample.controls['name'].valid && formExample.controls['name'].touched)">
					<div class="header">
						Error in name field!
					</div>
					<ul>
						<li *ngIf="formExample.controls['name'].errors?.required">This field is required</li>
						<li *ngIf="formExample.controls['name'].errors?.minlength"> Min length {{formExample.controls['name'].errors?.minlength.requiredLength}}</li>
						<li *ngIf="formExample.controls['name'].errors?.pattern">You have to write a valid name, not numbers and just english characters.</li>
					</ul>
				</div>
			</div>

			<div class="field">
				<label>Country</label>
				<select name="country" formControlName="country">
					<option value="">Select your country</option>
					<option *ngFor="let x of countries" value="x.id" >{{x.name}}</option>
				</select>
			</div>

			<div class="field">
				<label>Username</label>
				<input type="text" name="username" placeholder="Username" formControlName="username">
				<div class="ui negative message" *ngIf="(!formExample.controls['username'].valid && formExample.controls['username'].touched)">
					<div class="header">
						Error in username field!
					</div>
					<ul>
						<li *ngIf="formExample.controls['username'].errors?.required">This field is required</li>
						<li *ngIf="formExample.controls['username'].errors?.minlength"> Min length {{formExample.controls['username'].errors?.minlength.requiredLength}}</li>
					</ul>
				</div>
			</div>

			<div class="field">
				<label>E-mail</label>
				<input type="text" name="email"  placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email">
			</div>
		</div>


		<div class="ui center aligned three column grid">
			<div class="field padding-check">
				<div class="ui checkbox">
					<input type="checkbox" tabindex="0" class="hidden">
					<label>I agree to the Terms and Conditions</label>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<!-- [disabled]="!formExample.valid" -->
					<button class="ui button green" type="submit" >Submit</button>
				</div>
			</div>
		</div>
		{{formExample.valid}}

	</form>

	<div class="ui success message" *ngIf="successMessage">
		<i class="close icon" (click)="close()"></i>
		<div class="header">
			Your request was sent.
		</div>
		<p>Even if the inputs fields was empty or filled with any random text.</p>
	</div>
	<br>
</div>	
<div class="ui divider"></div>