<!--The content below is only a placeholder and can be replaced.-->
<div class="section no-pad-bot #263238 blue-grey darken-4" id="ini">
  <div class="container ">
	<h1 class="white-text">Proyecto base de Angular 5 + MaterializeCSS.</h1>
	<h5 class="light white-text"><i class="material-icons left">
assistant_photo</i>Proyecto inicial con el framework Angular 5 <span class="thin"><i>(5.2.0)</i></span>, Materialize CSS <span class="thin"><i>(0.100.2)</i></span>, jQuery <span class="thin"><i>(3.3.1)</i></span>, Material Desing Icons <span class="thin"><i>(3.0.1)</i></span>, Animated.css <span class="thin"><i>(3.7.0)</i></span> y SweetAlert2 <span class="thin"><i>(7.26.11)</i></span> </h5>
	<br>
	<div class='row center'></div>
  </div>
</div>

<div class="row center">
	<a href="https://angular.io/" target="_blank"><img class="animated zoomIn" width="25%" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="></a>
</div>
  <div class="row center valign-wrapper">
	<div class="col m2 s10">
		<a href="http://archives.materializecss.com/0.100.2/" target="_blank"><img src="http://res.cloudinary.com/colinstodd-com/image/upload/c_fit/n9qdpfw4kwsjqox0lymi.png" width="70%"></a> 
	</div>
	<div class="col m2 s10">
		<a href="https://jquery.com/" target="_blank"><img src="https://www.desarrollolibre.net/public/images/logos/jquery.svg" width="50%"></a> 
	</div>
	<div class="col m2 s10">
		<a href="https://material.io/tools/icons/?style=baseline" target="_blank"><img src="https://material.io/static/m2/images/material_logo.svg" width="45%"> </a>
	</div>
	<div class="col m2 s8">
		<a href="https://daneden.github.io/animate.css/" target="_blank"><img src="https://cdn-images-1.medium.com/max/1220/1*YgstiWJFWvXdjKcM1O0lZw.jpeg" width="100%"> </a>
	</div>
	<div class="col m2 s8">
		<a href="https://sweetalert2.github.io/" target="_blank"><img src="https://sweetalert2.github.io/images/swal2-logo.png" width="100%"> </a>
	</div>

  </div>


 