<div class="ui container padding">
	<h2 class="ui header centered align">No validated form</h2>
	<h3 class="ui header">
		Simple not validated form
		<div class="sub header"> The first example shows an unvalidated form; you can type anything in the inputs fields, and the form should be sent. Even, you can press the submit button without agree the Terms and Conditions. Actually, all the fields are valids.</div>
	</h3>

	<h3 class="ui header">Try it!</h3>
	<form  (ngSubmit)="save(tryForm_)" #tryForm_="ngForm" class="ui form">

		<div class="three fields">
			<div class="field ">
				<label>Name</label>
				<input class="ng-valid" type="text" name="name" placeholder="Name" required>
			</div>

			<div class="field">
				<label>Country</label>
				<select [(ngModel)]="user.country" name="country">
					<option value="">Select your country</option>
					<option *ngFor="let x of countries" value="{{x.id}}">{{x.name}}</option>
				</select>
			</div>

			<div class="field ">
				<label>Username</label>
				<input class="ng-valid" type="text" name="username" placeholder="Username" >
			</div>

			<div class="field ">
				<label>E-mail</label>
				<input class="ng-valid" type="text" name="email"  placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
			</div>
		</div>


		<div class="ui center aligned three column grid">
			<div class="field padding">
				<div class="ui checkbox">
					<input type="checkbox" tabindex="0" class="hidden">
					<label>I agree to the Terms and Conditions</label>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<button class="ui button green " type="submit">Submit</button>
				</div>
			</div>
		</div>

	</form>

	<div class="ui success message" *ngIf="successMessage">
		<i class="close icon" (click)="close()"></i>
		<div class="header">
			Your request was sent.
		</div>
		<p>Even if the inputs fields was empty or filled with any random text.</p>
	</div>
	<br>
</div>	
<div class="ui divider"></div>