<h1 class="ui header">
  Angular Forms
  <div class="sub header">Template aproximation</div>
</h1>


<form  (ngSubmit)="save(tryForm)" #tryForm="ngForm" class="ui form">
	<div class="field">
		<label>Name</label>
		<input type="text" name="name" [(ngModel)]="user.name" placeholder="Name" required minlength="5" #name="ngModel">
		<div class="ui negative message">
			<i class="close icon" (click)="close()"></i>
			<div class="header">
				We're sorry we can't apply that discount
			</div>
			<ul>
				<li *ngIf="name.errors?.required">This field is required</li>
				<li *ngIf="name.errors?.minlength"> Min length {{name.errors.minlength.requiredLength}}</li>
			</ul>
		</div>
		
	</div>
	<div class="field">
		<label>Username</label>
		<input type="text" name="username" [(ngModel)]="user.username" placeholder="Username" required minlength="5">
	</div>
	<div class="field">
		<label>E-mail</label>
		<input type="text" name="email" [(ngModel)]="user.email" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
	</div>
	<div class="field">
		<div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden">
			<label>I agree to the Terms and Conditions</label>
		</div>
	</div>
	<button class="ui button" type="submit">Submit</button>
	 <div class="ui error message"></div>
</form>



